.title {
    font-size: 7vw;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    margin-top: 30px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 35vh;
    width: 100%;
}

.inputs{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

@media(max-width: 700px){
    .header {
        height: 25vh;
    }
    .title {
    font-size: 10vw;
    }
}

.word-search, .language-select {
    width: 45%
}